.date-input {
  border-radius: 2px;
  border: 1px solid var(--gray2);
  background: var(--gray7);
  padding: 6px 8px;
  width: 100%;
  color: var(--black2);

  &:hover {
    border-color: var(--black3);
  }

  &:focus {
    border-color: var(--primary);
  }

  &__error {
    border-color: #a4262c;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}
