.input {
  border-radius: 2px;
  border: 1px solid var(--gray2);
  background: var(--gray7);
  padding: 6px 9px;
  width: 100%;
  color: var(--black2);

  @media screen and (max-width: 1440px) {
    padding: 6px 8px;
  }

  &:hover {
    border-color: var(--black3);
  }

  &:focus {
    border-color: var(--primary);
  }

  &__error {
    border-color: #a4262c;
  }
}
