.message-bar {
  width: 608px;
  height: 32px;
  background: #dff6dd;
  position: absolute;
  border-radius: 4px 4px 0px 0px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: space-between;
  top: 0;
  left: 0;
  display: none;

  &__opened {
    display: flex;
  }

  @media screen and (max-width: 1440px) {
    width: 524px;
  }

  @media screen and (max-width: 834px) {
    width: 572px;
  }

  @media screen and (max-width: 600px) {
    width: 328px;
    height: 40px;
  }
}

.edit-profile {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 608px;
    height: 592px;
    background-color: var(--gray7);
    padding: 32px 112px;
    border-radius: 4px;
    position: fixed;

    @media screen and (max-width: 1440px) {
      width: 524px;
      height: 538px;
    }

    @media screen and (max-width: 834px) {
      width: 572px;
      height: 602px;
      padding: 40px 136px;
    }

    @media screen and (max-width: 600px) {
      width: 328px;
      height: 482px;
      padding: 16px 14px;
    }
  }

  &__title {
    color: var(--secondary);
    text-align: center;
  }

  &__user {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    .mobile-photo {
      @media screen and (max-width: 834px) {
        width: 40px;
        height: 40px;
      }
    }
  }

  .edit-form {
    margin-top: 8px;

    @media screen and (max-width: 834px) {
      margin-top: 16px;
    }

    @media screen and (max-width: 600px) {
      margin-top: 8px;
    }

    &__label {
      color: var(--black2);
      font-family: "Noto Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;

      padding: 5px 0px;
    }

    .data-svg {
      top: 9px;
      right: 8px;
      position: absolute;
    }
    &__gender {
      color: var(--black2);
      display: flex;
      margin-bottom: 3px;
    }
  }
}

.save-button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 19px;

  @media screen and (max-width: 834px) {
    margin-top: 25px;
  }

  @media screen and (max-width: 600px) {
    margin-top: 19px;
  }
}

.edit-profile-photo {
  width: 56px;
  height: 56px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  // box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
  justify-content: center;
  border: 1px solid var(--gray1);

  @media screen and (max-width: 834px) {
    width: 40px;
    height: 40px;
  }
}
